<nav>
    <div class="nav-menu">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Search</button>
          </form>
        </div>
        <img class="user-acc" src="/assets/user-acc.png" alt="">
      </div>
  </nav>