<div class="sidenav">
    <a class="square" href="#"></a>
    <div class="side-icon">
        <button class="dashboard-icon">
            <i data-feather="home"></i>
            <p>Dashboard</p>
        </button>
        <button class="truck-icon">
            <i data-feather="truck"></i>
            <p>Cars</p>
        </button>
    </div>
  </div>