<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Management Dashboard</title>

    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

  <%- include ('partials/sidebar') %>
  <%- include ('partials/navbar') %>

      <div class="main">
        <div class="main-top">
          <div class="main-top-left">
            <p>List Car</p>
            <div class="size-filter">
              <button type="button" class="size">All</button>
              <button type="button" class="size">Small</button>
              <button type="button" class="size">Medium</button>
              <button type="button" class="size">Large</button>
            </div>
          </div>
        </div>
        <div class="main-top-right">  
          <a href="../admin/car/create">
            <button class="add-car">
              <i class="feather" data-feather="plus"></i>
              Add New Car
            </button>
          </a>        
      </div>  
    <script>
        feather.replace()
    </script>
</body>
</html>