* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
  }

.square {
    width: 34px;
    height: 34px;
    background-color: #CFD4ED;
    align-items: center;
}

.sidenav {
  height: 100%;
  width: 70px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0D28A6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.side-icon{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 20px;
}

.side-icon p{
    padding: 5px;
    font-size: 10px;
}

button.dashboard-icon{
    color: white;
    border: none;
    outline: none;
    background-color: #0D28A6;
}

.dashboard-icon{
    padding-top: 5px;
    cursor: pointer;
}

.active, .dashboard-icon:hover{
    font-weight: bolder;
}

button.truck-icon{
    color: white;
    border: none;
    outline: none;
    background-color: #0D28A6;
}

.truck-icon:hover{
    background-color: #5E70C4;
}

.truck-icon{
    padding-top: 5px;
    cursor: pointer;
}

.active, .truck-icon:hover{
    font-weight: bolder;
}


.dashboard-icon:hover{
    background-color: #5E70C4;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: #f4f5f7;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

nav {
  background-color: white;
  box-shadow: 0px 2px 8px 0px #0000000D;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav-menu{
  gap: 30px;
  align-items: center;
  display: flex;
  right: 0px;
  position: absolute;
}

.search-input{
  position: relative;
}

.search-container{
  display: flex;
}

  